<div [@fade]>

  <table mat-table [dataSource]="usersDataSource"  class="mat-elevation-z8">
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> userName </th>
      <td mat-cell *matCellDef="let user; let i=index" (click)='onSelect(user, $event)' (dblclick)='onEdit(i, $event)'>
        {{user.userName}} </td>
    </ng-container>
    <ng-container matColumnDef="userAge">
      <th mat-header-cell *matHeaderCellDef> userAge </th>
      <td mat-cell *matCellDef="let user; let i=index" (click)='onSelect(user, $event)' (dblclick)='onEdit(i, $event)'>
        {{user.userAge}} </td>
    </ng-container>
    <ng-container matColumnDef="userOccupation">
      <th mat-header-cell *matHeaderCellDef> userOccupation </th>
      <td mat-cell *matCellDef="let user; let i=index" (click)='onSelect(user, $event)' (dblclick)='onEdit(i, $event)'>
        {{user.userOccupation}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" appHighlight='#B3E5FC'></tr>

    <!-- <caption>Users table:</caption>
    <thead>
      <tr>
        <th>userName</th>
        <th>userAge</th>
        <th>userOccupation</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | searchFilter : filterString; let i=index" (click)='onSelect(user, $event)'
        (dblclick)='onEdit(i, $event)' appHighlight='lightblue'>
        <td>{{user.userName | uppercase}}</td>
        <td>{{user.userAge}}</td>
        <td>{{user.userOccupation}}</td>
        <td><button (click)='onDelete(i, $event)' >+</button></td>
      </tr>
    <tbody> -->
  </table>

  <p>click to select, double click to edit user</p>

  <mat-form-field>
    <input matInput (keyup)='applyFilter($event.target.value)' placeholder="Search filter">
  </mat-form-field>
  <!-- <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field> -->

</div>