// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
@import '../shared/themes/blue-amber.theme.scss';

div {
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    margin-bottom: 8px;
    border-radius: 16px;
    padding: 8px 16px 16px;
    border: 2px solid mat-color($blue-amber-primary, 300);
    cursor: default;
}

caption {
    margin: 8px 0;
}

td {
    padding: 16px 32px;
}

td.mat-cell,
th.mat-header-cell {
    padding: 16px;
    font-size: 18px;
}

label {
    margin: auto 0 24px;
    font-size: 24px;
}

// button {
//     border-radius: 50%;
//     border: none;
//     color: white;
//     background: black;
//     transform: rotate(45deg)
// }

input {
    height: 30px;
    font-size: 24px;
    width: 200px;
    border-radius: 4px;
}

/* mat-form-field{ */

/* } */