<header class="mat-elevation-z8">

    <div class="user-info">
        <h3>Name: {{user?.userName}}</h3>
        <div class="mat-elevation-z8">
            <div class="user-image" [ngStyle]="{'background-image': 'url(' + user?.userImage + ')'}"></div>
        </div>

    </div>
    <p>Age: {{ user?.userAge | moreThan25 }}</p>
    <p>Occupation: {{user?.userOccupation}}</p>

</header>