// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
@import '../shared/themes/blue-amber.theme.scss';

header{
    background: mat-color($blue-amber-primary, 100);
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid mat-color($blue-amber-primary, 300);
}
h3{
    text-transform: uppercase;
    margin: 0 30px 0 0;
    font-size: 32px;
    width: 160px;
}
div.user-info{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    // border: 2px solid mat-color($blue-amber-primary, 100);
}
div.mat-elevation-z8{
    border-radius: 16px;
    border: 2px solid mat-color($blue-amber-primary, 300);
}
div.user-image{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;

}
