// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
@import './shared/themes/blue-amber.theme.scss';
div {
    height: 64px;
    display: flex;
    justify-content: center;
}

a {
    margin: 16px;
    font-size: 24px;
    color: mat-color($blue-amber-primary, 900);
    text-transform: capitalize;
}

.active {
    color: mat-color($blue-amber-primary, 700);
}

button.modal-button {
    display: flex;
    margin: 16px auto;
    font-size: 20px;
}