// Import all the tools needed to customize the theme and extract parts of it
@import '~@angular/material/theming';
@import '../shared/themes/blue-amber.theme.scss';

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 16px;
}

form {
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 16px 32px 32px;
    border-radius: 16px;
    background: white;
    border: 2px solid mat-color($blue-amber-primary, 300);
}

label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

input {
    border-radius: 4px;
    height: 32px;
    padding-left: 8px;
}

input.ng-valid.ng-dirty {
    background: mat-color($blue-amber-primary, 100);
}

mat-form-field {
    margin-bottom: 8px;
}

p {
    position: absolute;
    margin-left: 320px;
}

button {
    margin-top: 8px;
    height: 48px;
}