<div [@fade]>
    <h3>{{editorMode ? 'Edit user' : 'Add user'}}</h3>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="mat-elevation-z8">

        <mat-form-field> <input matInput placeholder="userName" formControlName="userName" maxlength="8" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!profileForm.controls['userName'].valid && profileForm.controls['userName'].dirty">
                {{profileForm.controls['userName'].errors.errorMessage?.value}}
            </mat-error>
            <mat-error *ngIf="profileForm.controls['userName'].hasError('required')">
                userName is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field> <input matInput placeholder="userOccupation" formControlName="userOccupation" maxlength="14"
                [errorStateMatcher]="matcher">
            <mat-error *ngIf="!profileForm.controls['userOccupation'].valid && profileForm.controls['userOccupation'].dirty">
                {{profileForm.controls['userOccupation'].errors.errorMessage?.value}}
            </mat-error>
            <mat-error *ngIf="profileForm.controls['userOccupation'].hasError('required')">
                userOccupation is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="userAge" type="number" formControlName="userAge" [errorStateMatcher]="matcher">
            <mat-error *ngIf="!profileForm.controls['userAge'].valid && profileForm.controls['userAge'].dirty">
                {{profileForm.controls['userAge'].errors.errorMessage?.value}}
            </mat-error>
            <mat-error *ngIf="profileForm.controls['userAge'].hasError('required')">
                userAge is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field> <input matInput placeholder="userImage (optional)" formControlName="userImage">
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" [disabled]="!profileForm.valid">
            {{editorMode ? 'Edit user' : 'Add user'}}
        </button>

    </form>

</div>