/* You can add global styles to this file, and also import other style files */

/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

/*normalize*/

html {
    box-sizing: border-box;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    /* Prevent adjustments of font size after orientation changes in iOS. */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    color: #212121;
    font-size: 20px;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
}

a {
    outline: none;
    /* No default outlines around links  */
}

/* My reset */

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}